body {
    background-color: #2f68e2;
  }
  h1 {
    font-family: Arial;
    color: #ffffff;
  }
  p {
    color: #ffffff;
    font-size: 24px;
    font-family: Arial;
  }
  button {
    font-family: Arial;
    background-color: #2b2e33; /* Green */
    border: 3px solid #fbfcfd;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
  }